@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 106, 116,191;
  --background-end-rgb: 173, 178, 213;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      60deg,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

label {
  margin: 8px;
  display: block;
  font-weight: 600;
}
#date {
  background-color: rgb(226, 232, 240);
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  
}
